
@{
    Layout = null;
    ViewBag.Title = "LogIn";
    string actionLink = Url.Action("VerificarLogin", "Usuario");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Lava car</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Login.css">
</head>
    <body>
        <div class="container body-content">
            <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
                <div class="container">
                    <div class="card login-card">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="~/Content/Media/login.jpg" alt="login" class="login-card-img">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <div class="brand-wrapper">
                                        <img src="~/Content/Media/logo.svg" alt="logo" class="logo">
                                        <h4>Lava car</h4>
                                    </div>
                                    <p class="login-card-description">Iniciar sesion</p>
                                    <form action="@actionLink" method="post">
                                        <div class="form-group">
                                            <label for="email" class="sr-only">Correo electronico</label>
                                            <input type="email" name="correo_usuario" id="email" class="form-control" placeholder="Correo electronico">
                                        </div>
                                        <div class="form-group mb-4">
                                            <label for="password" class="sr-only">Contraseña</label>
                                            <input type="password" name="contraseña" id="password" class="form-control" placeholder="***********">
                                        </div>
                                        <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Iniciar sesion">
                                    </form>
                                    <nav class="login-card-footer-nav">
                                        @Html.ValidationSummary(true);
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <hr />
            <footer>
                <p style="color:white">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    </body>
</html>
