@using LavaCarProject.Models;
@{
    RetornaUsuarioCorreoPwd_Result usuarioBuscar = (RetornaUsuarioCorreoPwd_Result)Session["datosUsuario"];
    string actionLogIn = Url.Action("LogIn", "Usuario");
    string actionLogOut = Url.Action("LogOut", "Usuario");

    bool sesionIniciada = false;

    if (Session["logueado"] != null)
    {
        sesionIniciada = (bool)Session["logueado"];
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />
    @RenderSection("Style", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class=""><a href="frmInicio.aspx">Inicio</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reportes<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Servicios Facturados</a></li>
                            <li><a href="#">Cierres de caja</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" id="ddlAdmin" runat="server">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mantenimiento Clientes<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Cliente/Cliente">Clientes</a></li>
                            <li><a href="~/Vehiculos/ReporteVehiculoxcliente">Vehiculos por Cliente</a></li>
                            <li><a href="~/Pais/Pais">Lista de Pais</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" id="ddlAmind2" runat="server">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mantenimiento Vehículos<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Vehiculos/Vehiculos">Vehiculos</a></li>
                            <li><a href="~/Vehiculos/RetornaVehiculoxcliente">Vehiculos por Cliente</a></li>
                            <li><a href="~/Vehiculos/VehiculosLibres">Vehículos Libres</a></li>
                            <li><a href="~/Vehiculos/RetornaMarcasLista">Marcas</a></li>
                            <li><a href="~/Modelos/Modelos">Modelos</a></li>
                            <li><a href="~/Fabricantes/Fabricantes">Fabricantes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" id="Li1" runat="server">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Facturacion<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Abrir Caja</a></li>
                            <li><a href="#">Cerrar Caja</a></li>
                            <li><a href="#">Facturar a cliente</a></li>
                        </ul>
                    </li>
                      <li class="dropdown" id="li2" runat="server">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Caja <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a id="abrirCaja">Abrir Caja</a></li>
                            <li><a id="cerrarCaja">Cerrar Caja</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="LogOut"><a><span class="glyphicon glyphicon-log-in"></span> Cerrar sesion</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @{ if (sesionIniciada)
            {
                @RenderBody();
            }
            else
            {
                Response.Redirect(actionLogIn);
            }
        }

        <hr />

        <div id="DivCerrarSesion" hidden>
            <p>Desea cerrar la sesion?</p>
            <button id="btnSi">SI</button>
            <button id="btnNO">NO</button>
        </div>
        <div id="DivAbrirCaja" hidden>
            <p>Ingrese el Monto de apertura</p>
            <input type="number" id="montoApertura" class="input-sm" />
            <span id="error" style="color:red"></span>
            <button id="btnSave" class=" btn btn-info">Abrir</button>
        </div>
        <div id="DivCerrarCaja" hidden>
            <p>¿Esta seguro que desea Cerrar la caja?</p>
            <button id="btnSicaja">SI</button>
            <button id="btnNOcaja">NO</button>
        </div>

        <div id="DivNotificacion" hidden>
            <p></p>
        </div>

        <footer class="panel-footer">
            <p>&copy; @DateTime.Now.Year -Fast LavaCar</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bundleJquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            crearEventoNotificacion();
            crearEvento();
            crearEventoAbrirCaja();
        });

        function crearEventoNotificacion() {
            $("#DivNotificacion").dialog({
                autoOpen: false,
                height: 150,
                width: 200,
                modal: true,
                title: 'Notificacion',
                resizable: false
            });
        }

        function crearEvento() {
            $("#DivCerrarSesion").dialog({
                autoOpen: false,
                height: 150,
                width: 200,
                modal: true,
                title: 'Cerrar Sesion',
                resizable: false
            });

            $("#LogOut").click(function () {
                $("#DivCerrarSesion").dialog("open");
            });

            $("#btnNO").click(function () {
                $("#DivCerrarSesion").dialog("close");
            });

            $("#btnSi").click(function () {
                window.location.href = '@actionLogOut';
            });
        }

        function crearEventoAbrirCaja() {
            $("#DivAbrirCaja").dialog({
                autoOpen: false,
                height: 200,
                width: 400,
                modal: true,
                title: 'Abrir Caja',
                resizable: false
            });

            $("#abrirCaja").click(function () {
                $("#DivAbrirCaja").dialog("open");
            });

            $("#btnSave").click(function () {
                
                if ($("#montoApertura").val() == "") {
                    $("#error").text("El monto de apertura es requerido");
                }
                else {
                    $.ajax({
                        url: "/Caja/AbrirCaja",
                        dataType: 'json',
                        type: 'post',
                        contentType: 'application/json',
                        data: JSON.stringify({montoApertura : $("#montoApertura").val()}),
                        success: function (data, textStatus, jQxhr) {
                            $("#DivAbrirCaja").dialog("close");
                            $("#DivNotificacion > p").text(data);
                            $("#DivNotificacion").dialog("open");
                        },
                        error: function (jqXhr, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                }
            });
        }


    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
