@using LavaCarProject.Models;
@{
    RetornaUsuarioCorreoPwd_Result usuarioBuscar = (RetornaUsuarioCorreoPwd_Result)Session["datosUsuario"];
    string actionLogIn = Url.Action("LogIn", "Usuario");
    string actionLogOut = Url.Action("LogOut", "Usuario");

    bool sesionIniciada = false;

    if (Session["logueado"] != null)
    {
        sesionIniciada = (bool)Session["logueado"];
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />
    @RenderSection("Style", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Cliente", "Cliente", "Cliente")</li>
        <li>@Html.ActionLink("Vehículos", "Vehiculos", "Vehiculos")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li class=""><a href="frmInicio.aspx">Inicio</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reportes<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Servicios Facturados</a></li>
                            <li><a href="~/Vehiculos/ReporteVehiculoxcliente">Vehiculos por Cliente</a></li>
                            <li><a href="#">Cierres de caja</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" id="ddlAdmin" runat="server">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mantenimiento<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Cliente/Cliente">Clientes</a></li>
                            <li><a href="~/Vehiculos/Vehiculos">Vehiculos</a></li>
                            <li><a href="~/Vehiculos/RetornaVehiculoxcliente">Vehiculos por Cliente</a></li>
                            <li><a href="#">Asignar Vehículos</a></li>
                            <li><a href="#">Marcas</a></li>
                            <li><a href="#">Modelos</a></li>
                            <li><a href="~/Pais/Pais">Lista de Pais</a></li>
                            <li><a href="~/Fabricantes/Fabricantes">Fabricantes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" id="Li1" runat="server">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Facturacion<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Abrir Caja</a></li>
                            <li><a href="#">Cerrar Caja</a></li>
                            <li><a href="#">Facturar a cliente</a></li>
                        </ul>
                    </li>
                    <li id="cierrasesion" runat="server" class=""><a href="frmCierraSesion.aspx">Cerrar Sesión</a></li>
                    <li id="LogOut"><a>Cerrar sesion</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @{ if (sesionIniciada)
            {
                @RenderBody();
            }
            else
            {
                Response.Redirect(actionLogIn);
            }
        }

        <hr />

        <div id="DivCerrarSesion" hidden>
            <p>Desea cerrar la sesion?</p>
            <button id="btnSi">SI</button>
            <button id="btnNO">NO</button>
        </div>

        <footer class="panel-footer">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            crearEvento();
        });

        function crearEvento() {
            $("#DivCerrarSesion").dialog({
                autoOpen: false,
                height: 150,
                width: 200,
                modal: true,
                tittle: 'Cerrar Sesion',
                resizable: false
            });

            $("#LogOut").click(function () {
                $("#DivCerrarSesion").dialog("open");
            });

            $("#btnNO").click(function () {
                $("#DivCerrarSesion").dialog("close");
            });

            $("#btnSi").click(function () {
                window.location.href = '@actionLogOut';
            });
        }


    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
