@model LavaCarProject.Models.sp_RetornaModelo_ID_Result
@{
    ViewBag.Title = "ModificaModelo";
}

<h2>Modificar Modelo</h2>
<div id="divModificarModelo">
    <form name="frmModificarModelo" id="frmModificarModelo" class="form" method="post" action="@Url.Action("ModificaModelo","Modelos")">
        <div class="form-group">
            <label>Nombre modelo:</label>
            <label>id_fabricante</label>
       
            <label>id_modelo</label>
            <input type="text" value="@Model.id_modelo" name="id_modelo" id="id_modelo" />
            <input class="form-control" type="text" name="nombre_modelo" id="nombre_modelo" value="@Model.nombre_modelo" />
        </div>
        <div class="form-group">
            <label>Marca:</label>
            <select name="id_marca_modelo" id="id_marca_modelo" class="form-control">
                <option value="">Seleccione una Marca:</option>
                @{
                    foreach (LavaCarProject.Models.sp_RetornaListaMarca_Result modelo
                        in this.ViewBag.ListaMarcas)


                    {
                        bool esIdModelo = modelo.id_marca == Model.id_marca;

                        if (esIdModelo)
                        {
                            <option value="@modelo.id_marca" selected>@modelo.nombre_marca</option>
                        }
                        else
                        {
                            <option value="@modelo.id_marca">@modelo.nombre_marca</option>
                        }
                    }
                }
            </select>
        </div>

        <div class="form-group" role="button">
            <input class="btn btn-danger" type="submit" value="Modificar" id="btnmodificar" />
        </div>
    </form>
    <a href="~/Modelos/Modelos" class="btn btn-info" role="button"> Regresar </a>
</div>
@section scripts{
    <script>

            $(function () {
                $("#frmModificarModelo").validate({
                rules: {
                    id_marca_modelo: {
                required: true,
                        maxlength:50
                    },
                    nombre_modelo: {
                required: true,
                        maxlength:50
                    },
                    id_marca_modelo: {
                        required: true,
                        maxlength:50
                    }
                }
            });
        });

    </script>
}